@import url('styles/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('styles/header.css');
@import url('styles/whoIAm.css');
@import url('styles/aboutMe.css');
@import url('styles/skills.css');
@import url('styles/projects.css');
@import url('styles/footer.css');

:root{
    --roboto: Roboto, sans-serif;
    --courier: 'Courier Prime', monospace;
    font-family: var(--roboto);
    color: var(--primary-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        130.36deg, 
        var(--background-primary-color) 5%, 
        var(--background-secondary-color) 20%,
        var(--background-tertiary-color) 40%,
        var(--background-quaternary-color) 100%
    );
}

html {
    scroll-behavior: smooth;
}

.header, .whoIAm, .aboutMe, .skills, .projects {
    max-width: 1440px;
}
    
.emphasis {
    color: var(--secondary-color);
}

.sectionTitle {
    font-weight: 700;
    font-size: 2em;
}

p {
    margin-top: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

@media screen and (max-width: 480px) {
    .sectionTitle {
        font-size: 1.5em;
    }
}