.footer {
    padding: 1.5em 0;
    background-color: var(--background-color);
    width: 100%;
}

.footer__text {
    text-align: center;
    color: var(--primary-color);
    margin: 0;
}

.footer__link {
    color: var(--secondary-color);
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 1em 0;
    }

    .footer__text {
        font-size: 14px;
    }
}
