.skillsContainer {
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em 2em;
}

.skills__tecnologies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
}

.skills__tecnology {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: end;
  align-items: center;
  height: fit-content;
  position: relative;
}

.skills__tecnology img {
  width: 120px;
  height: 120px;
}

.skills__tecnology__label {
  display: block;
  width: fit-content;
  text-align: center;
  padding: 5px 10px;
}

.skills__tecnology:hover .skills__tecnology__label {
  color: var(--secondary-color);
}

@media screen and (max-width: 900px) {
  .skills {
    padding: 2em;
  }

  .skills__tecnology img {
    height: 4.7em;
    width: 4.7em;
  }
}

@media screen and (max-width: 760px) {
  .skills {
    padding: 1em 2em 1em;
  }

  .skills__tecnologies {
    justify-content: space-around;
  }
}

@media screen and (max-width: 550px) {
  .skills {
    padding: 2em 1em;
  }

  .skills__tecnology img {
    height: 4em;
    width: 4em;
  }
}