.whoIAm {
    margin: 5em 2em 2em;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    width: -moz-available;
}

.whoIAm__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 2em;
}

.whoIAm__info__name {
    font-weight: 700;
    font-size: 3.2em;
    margin: 0;
}

.whoIAm__info__role {
    font-weight: 700;
    font-size: 2em;
    text-align: left;
    margin: 0 0 0.5em 0;
}

.whoIAm__photo {
    display: flex;
    justify-content: flex-end;
}

.whoIAm__photo__image {
    width: 80%;
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    .whoIAm {
        margin: 2em;
    }
}

@media screen and (max-width: 760px) {
    .whoIAm {
        margin: 1em 2em 0;
    }
}

@media screen and (max-width: 550px) {
    .whoIAm {
        margin: 0px;
        padding: 0 1em;
    }

    .whoIAm__info__name {
        padding: 0;
        font-size: 1.5em;
    }

    .whoIAm__info__role {
        margin: 1em 0 0 0;
        padding: 0em;
        font-size: 1.3em;
    }

    .whoIAm__photo {
        display: flex;
        justify-content: center;
    }

    .whoIAm__photo__image {
        width: 100%;
        height: 100%;
    }
}