.aboutMe {
    margin: 5em 8em 5em;
    display: flex;
}

.aboutMe-info {
    width: 50%;
}

.aboutMe-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2em 0;
}

.aboutMe-card {
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    width: 60%;
    height: 30%;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.aboutMe-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutMe-cards-title {
    font-family: var(--courier);
    font-weight: 700;
    font-size: 1.3em;
}

.aboutMe-cards-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
}

.cards-code {
    padding: 0.5em;
}