.aboutMe {
    margin: 5em 8em;
    display: flex;
}

.aboutMe__info {
    width: 50%;
}

.aboutMe__info__text {
    padding-right: 2em;
}

.aboutMe__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2em 0;
}

.aboutMe__card {
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    width: 60%;
    height: 30%;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.aboutMe__card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutMe__cards__title {
    font-family: var(--courier);
    font-weight: 700;
    font-size: 1.3em;
    margin: 0;
    text-align: left;
}

.aboutMe__cards-text {
    padding: 0;
}

.aboutMe__cards-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
}

.cards-code {
    padding: 0.5em;
}

@media screen and (max-width: 900px) {
    .aboutMe {
        margin: 2em 3em;
    }

    .aboutMe__info__text {
        padding: 0;
    }

    .aboutMe__card {
        width: 70%;
        height: 25%;
        margin-bottom: 1em;
    }

    .aboutMe__cards {
        width: 75%;
    }

    .cards-code {
        padding: 1.5em 0.5em;
        width: 2em;
        height: 1.8em;
    }
}

@media screen and (max-width: 760px) {
    .aboutMe {
        margin: 1em 2em 1em;
    }
}

@media screen and (max-width: 480px) {
    .aboutMe {
        margin: 1em;
        flex-direction: column;
    }

    .aboutMe__info {
        padding-top: 2em;
        width: 100%;
    }

    .aboutMe__card {
        padding: 0 1em 0.5em;
    }

    .aboutMe__cards {
        width: 100%;
    }

    .aboutMe__cards__title {
        padding: 0.5em 0.5em 0.5em 0;
        font-size: 1.2em;
    }
}
