nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    padding: 1em 5em;
}

.header-name{
    color: var(--tertiary-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    align-items: center;
}

.midle-name{
    color: #f2f2f2
}

.navbar-links {
    display: flex;
    gap: 1em;
}

.navbar-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    align-items: center;
}

.navbar-link:hover, .header-contacts-links:hover {
    color: var(--secondary-color);
}

.header-contacts{
    display: flex;
    gap: 1em;
    width: auto;
}

.header-contacts-links {
    display: flex;
    align-items: center;  
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.contacts-link-imagem {
    width: 26px;
    margin: 0.5em;
    align-items: flex-end;
}

@media screen and (max-width: 900px) {
    .contacts-link-label {
        display: none;
    }

    nav {
        padding: 1em 2em;
    }
}

@media screen and (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .header-name {
        padding-bottom: 0.5em;
    }

    .navbar-links {
        padding-bottom: 0.5em;
    }

    .header-contacts {
        padding-bottom: 1em;
    }

}
