.skills {
    background-color: #161616;
    padding: 3em 8em;
}

.skills__tecnologies {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 3em;
}

.skills__tecnology {
    height: 5em;
}

@media screen and (max-width: 900px) {
    .skills {
        padding: 2em 3em;
    }

    .skills__tecnology {
        height: 3.7em;
    }
}

@media screen and (max-width: 760px) {
    .skills {
        padding: 1em 2em 0;
    }
}

@media screen and (max-width: 480px) {
    .skills {
        padding: 2em 1em;
    }

    .skills__tecnology {
        height: 2.5em;
    }
}
